body {background-color:black;}

h1{
    color:gray;
    padding-top: 1em;
    padding-left: 1em;
}

#container {
    background-color: white;
    margin: 0 auto;
    padding-left: 10px;
    width: 30%;
    border-radius: 25px;
}

table {
    width: 100%;
}

#input-container {
    margin-left: 15%;
    width: 80%;
}

#copyright-container {
    padding-left: 2em;
    padding-bottom: 1em;
}




